<launch>

    <!-- Drivers :  -->

    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="navsat" respawn="true">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="9600" />
    </node>

    <node pkg="cv_camera" type="cv_camera_node" name="camera" respawn="true">
        <param name="device_id" value="0" />
    </node>

    <node pkg="pwm_driver" type="pwm_driver_node.py" name="pwm" respawn="true">
        <param name="port" value="/dev/ttyACM0" />
    </node>

    <!-- Localization :  -->

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

        <param name="magnetic_declination_radians" value="0" />

        <param name="yaw_offset" value="0" />

        <remap from="/imu/data" to="/your/imu/topic" />
        <remap from="/gps/fix" to="/fix" />
        <remap from="/odometry/filtered" to="/your/robot_localization/output/topic" />

    </node>

    <!-- Control :  -->
    <!-- 
        /setpoint/data is a plot of the std_msgs/Float64 messages which tell the PID controller the desired value the servo should be controlled to.
        /state/data is a plot of the std_msgs/Float64 messages which are input to the PID controller from the controlled system.
        /control_effort/data is a plot of the std_msgs/Float64 messages which are output from the PID controller and which apply correcting force to the controlled system.
    -->
    <node name="steering_pid" pkg="pid" type="controller">
        <param name="Kp" value="5.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.1" />
        <param name="upper_limit" value="100" />
        <param name="lower_limit" value="-100" />
        <param name="windup_limit" value="100" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="10.0" />
    </node>

    <!-- <node name="steering_pid_autotune" pkg="pid" type="autotune">
    </node>-->

</launch>